{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block content %}
    {% if not request.GET.edit %}
        <div style="margin-bottom:15px;">
            <a href="?edit=1"
               class="btn btn-warning">
                ✏️ Enable Editing
            </a>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}
    {% if request.GET.edit %}
        <div style="margin-top:20px;">
            <input type="submit"
                   value="💾 Save"
                   class="btn btn-success default"
                   name="_save">
        </div>
    {% endif %}
{% endblock %}
