/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VesperLibre-Bold", sans-serif;
}



/* === MAIN === */
.cookies-container {
  background: rgba(3,159,200,0.05);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  margin: 60px auto;
  padding: 60px;
  max-width: 1100px;
  color: #000;
  line-height: 1.7;
}

.cookies-container h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.updated-date {
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0,0.7);
  margin-bottom: 30px;
}

.cookies-container h2 {
  color: #000;
  font-size: 24px;
  margin: 30px 0 10px;
}

.cookies-container p,
.cookies-container li {
  font-size: 18px;
  font-weight: 600;
}

.cookies-container ul {
  padding-left: 25px;
  margin-bottom: 10px;
}

.mail-icon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  
  .nav-links {
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
  }

  .cookies-container {
    padding: 25px;
    margin: 30px 10px;
  }

  .cookies-container h1 {
    font-size: 30px;
  }

  .cookies-container h2 {
    font-size: 20px
  }}